# Problem 1
**Use this air bnb new york city data set and remove outliers using percentile based on price per night for a given apartment/home. You can use suitable upper and lower limits on percentile based on your intuition. Your goal is to come up with new pandas dataframe that doesn't have the outliers present in it.**

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

In [5]:
df=pd.read_csv("New York City.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [9]:
df["price"].describe()

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [12]:
df.price.quantile(0.1)

np.float64(49.0)

In [13]:
df.price.quantile(0.25)

np.float64(69.0)

In [14]:
df.price.quantile(0.5)

np.float64(106.0)

In [15]:
df.price.quantile(0.75)

np.float64(175.0)

In [30]:
df.price.quantile(0.98)

np.float64(550.0)

In [39]:
min=df.price.quantile(0.1)
max=df.price.quantile(0.99)

In [41]:
# with no outlier
df2 = df[(df.price>min)&(df.price<max)]
df2.shape

(43376, 16)

In [42]:
df.shape

(48895, 16)